page-great-minds {

}
.gMinds{
    background-color: crimson;
}
ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    text-align: center;
    top: 90%;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }